<mat-card>
    <mat-card-title class="text-center">
        Registration
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formRegistration" class="registration-form" (submit)="registration()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your name" name="name" formControlName="name">
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your nick name" name="nick_name" formControlName="nick_name">
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your email" name="email" formControlName="email">
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Enter your password" name="password" formControlName="password">
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <button  mat-raised-button >Registration</button>
        </form>
    </mat-card-content>
</mat-card>