<mat-toolbar>
    <ng-container *ngFor="let item of menu">
        <button mat-button routerLink="{{item.link}}">{{item.name}}</button>
    </ng-container>
    <span class="spacer"></span>
    <button mat-button routerLink="/auth/login">login</button>
    <button mat-button routerLink="/auth/registration">registration</button>
</mat-toolbar>

