/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.full-width .mat-form-field-infix {
    width: 100%;
}

.text-center {
    text-align: center;
}

.spacer {
    flex-grow: 1;
}

.main-wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    margin: auto;
}