<mat-card>
    <mat-card-title class="text-center">
        Login
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formLogin" class="login-form" (ngSubmit)="login()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Enter your email"  required>
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Enter your password"  required>
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <button mat-raised-button >Login</button>
        </form>
    </mat-card-content>
</mat-card>